@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/* tipografías
font-family: 'Quicksand', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Lora', serif;
*/
/* paleta de colores
#F7FBFC
#D6E6F2
#B9D7EA
#769FCD */
/* reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* media querie 1 (pantalla celular horizontal 576px) */
/* media querie 2 (pantalla mediana 768px) */
/* media querie 3 (pantalla grande 992px) */
/* media querie 4 (pantalla panorámica 1200px) */
header {
  display: flex;
  flex-direction: row;
  background-image: url("../images/fondo.png");
  z-index: 2;
  position: fixed;
}

header picture img {
  width: 13%;
  margin-left: 2%;
}

header .telefonoYNavbar .telefonosHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3%;
}

header .telefonoYNavbar .telefonosHeader div {
  width: 100%;
  margin: 1% 4% 0.5% -15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  color: white;
  font-family: "Quicksand", sans-serif;
}

header .telefonoYNavbar .telefonosHeader div p {
  display: inline-block;
  margin-left: 10%;
}

header .telefonoYNavbar .navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

header .telefonoYNavbar .navbar-light .navbar-nav .nav-link:hover {
  color: #B9D7EA;
}

header .telefonoYNavbar .navbar-light .navbar-nav .nav-link:focus {
  color: #B9D7EA;
}

main {
  z-index: 1;
}

main .carousel-caption {
  margin-bottom: 10%;
}

main .carousel-caption h5 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 3rem;
  color: white;
}

main .carousel-caption h5:hover {
  color: #769FCD;
}

main .carousel-caption p {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  font-size: 1.5rem;
  color: white;
}

main .unLugarUnico {
  margin: 5% 15% 5% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .unLugarUnico div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12%;
}

main .unLugarUnico div h2 {
  font-family: "Lora", serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 7%;
}

main .unLugarUnico div p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 7%;
}

main .unLugarUnico div .btn {
  font-family: "Quicksand", sans-serif;
  background-color: #B9D7EA;
  border: none;
  color: white;
  font-size: 1.3rem;
}

main .unLugarUnico div .btn:hover {
  background-color: #769FCD;
}

main .unLugarUnico div .btn:focus {
  box-shadow: none;
}

main .unLugarUnico picture img {
  width: 110%;
  margin-left: 12%;
}

main .queNosDiferencia {
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
}

main .queNosDiferencia .item1 {
  grid-area: item1;
}

main .queNosDiferencia .item2 {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #769FCD;
  width: 100%;
  height: 100%;
  padding: 10%;
}

main .queNosDiferencia .item2 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 7%;
}

main .queNosDiferencia .item2 img {
  width: 35%;
  margin: 0% 0% 3% 5%;
  display: flex;
}

main .queNosDiferencia .item3 {
  grid-area: item3;
}

main .queNosDiferencia .item4 {
  grid-area: item4;
}

main .queNosDiferencia .item5 {
  grid-area: item5;
}

main .queNosDiferencia .item6 {
  grid-area: item6;
}

main .queNosDiferencia .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15%;
  width: 100%;
  height: 100%;
}

main .queNosDiferencia .items div {
  margin-left: 10%;
}

main .queNosDiferencia .items div h3 {
  font-family: "Poppins", sans-serif;
}

main .queNosDiferencia .items div p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}

main .queNosDiferencia .item1, main .queNosDiferencia .item3, main .queNosDiferencia .item5 {
  background-color: white;
}

main .queNosDiferencia .item1 i, main .queNosDiferencia .item3 i, main .queNosDiferencia .item5 i {
  color: #B9D7EA;
}

main .queNosDiferencia .item4, main .queNosDiferencia .item6 {
  background-color: #B9D7EA;
}

main .queNosDiferencia .item4 i, main .queNosDiferencia .item6 i {
  color: white;
}

main .newsletter {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .newsletter h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 3%;
  font-weight: 800;
}

main .newsletter div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .newsletter div form {
  margin-bottom: 3%;
  display: flex;
  align-items: flex-end;
}

main .newsletter div form div label {
  font-family: "Quicksand", sans-serif;
}

main .newsletter div form div input:focus {
  box-shadow: none;
  border-color: #B9D7EA;
}

main .newsletter div form .btn {
  font-family: "Quicksand", sans-serif;
  background-color: #B9D7EA;
  border: none;
  color: white;
  width: auto;
  padding: 1% 5% 1% 5%;
}

main .newsletter div form .btn:hover {
  background-color: c;
}

main .newsletter div form .btn:focus {
  box-shadow: none;
}

main .newsletter div p {
  font-family: "Quicksand", sans-serif;
}

main .nosotros {
  margin: 3% 3% 3% 0%;
  display: grid;
  grid-template-areas: "imagenNosotros textoNosotros";
}

main .nosotros img {
  width: 100%;
  grid-area: imagenNosotros;
}

main .nosotros .textoNosotros {
  margin-left: 10%;
  width: 90%;
  grid-area: textoNosotros;
}

main .nosotros .textoNosotros h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 7%;
}

main .nosotros .textoNosotros p {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  margin-bottom: 3%;
  font-size: 1.3rem;
}

main .nosotros .textoNosotros .btn {
  margin-top: 5%;
  font-family: "Quicksand", sans-serif;
  background-color: #B9D7EA;
  border: none;
  color: white;
}

main .nosotros .textoNosotros .btn:hover {
  background-color: #769FCD;
}

main .servicios {
  margin: -30% 10% 10% 10%;
  display: grid;
  grid-template-areas: "servicioTexto servicioResumen";
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

main .servicios .servicioTexto {
  grid-area: servicioTexto;
}

main .servicios .servicioTexto h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 3rem;
}

main .servicios .servicioTexto p {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 1.3rem;
}

main .servicios .serviciosResumen {
  grid-area: servicioResumen;
  display: grid;
  grid-template-areas: "servicio1 servicio2" "servicio3 servicio4";
  margin-left: 10%;
  color: white;
}

main .servicios .serviciosResumen .servicio1 {
  grid-area: servicio1;
}

main .servicios .serviciosResumen .servicio2 {
  grid-area: servicio2;
}

main .servicios .serviciosResumen .servicio3 {
  grid-area: servicio3;
}

main .servicios .serviciosResumen .servicio4 {
  grid-area: servicio4;
}

main .servicios .serviciosResumen .servicio1, main .servicios .serviciosResumen .servicio2, main .servicios .serviciosResumen .servicio3, main .servicios .serviciosResumen .servicio4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  background-color: #769FCD;
  padding: 10% 30% 10% 30%;
  width: 100%;
}

main .servicios .serviciosResumen i {
  margin-bottom: 20%;
}

main .servicios .serviciosResumen i:hover {
  color: #B9D7EA;
}

main .serviciosHabitaciones {
  margin-top: 16%;
  display: grid;
  grid-template-areas: "tituloServicioHabitaciones tituloServicioHabitaciones tituloServicioHabitaciones" "servicioHabitacion         servicioHabitacion         servicioHabitacion";
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

main .serviciosHabitaciones h2 {
  grid-area: tituloServicioHabitaciones;
  font-family: "Poppins", sans-serif;
}

main .serviciosHabitaciones div {
  width: 100%;
  margin: 3% 3% 3% 10%;
  grid-area: servicioHabitacion;
  display: grid;
  grid-template-areas: "servicioHabitacion1 servicioHabitacion2 servicioHabitacion3" "servicioHabitacion4 servicioHabitacion5 servicioHabitacion6";
  font-family: "Quicksand", sans-serif;
  justify-items: space-evenly;
}

main .serviciosHabitaciones div .servicioHabitacion1 {
  grid-area: servicioHabitacion1;
}

main .serviciosHabitaciones div .servicioHabitacion2 {
  grid-area: servicioHabitacion2;
}

main .serviciosHabitaciones div .servicioHabitacion3 {
  grid-area: servicioHabitacion3;
}

main .serviciosHabitaciones div .servicioHabitacion4 {
  grid-area: servicioHabitacion4;
}

main .serviciosHabitaciones div .servicioHabitacion5 {
  grid-area: servicioHabitacion5;
}

main .serviciosHabitaciones div .servicioHabitacion6 {
  grid-area: servicioHabitacion6;
}

main .serviciosHabitacionesHotel {
  margin: 5% 0% 3% 0%;
}

main .serviciosHabitacionesHotel div {
  margin-right: 8%;
}

main .serviciosGaleria {
  display: grid;
  grid-template-areas: "tituloGaleria" "imagenesGaleria";
  justify-items: center;
  align-items: center;
}

main .serviciosGaleria h2 {
  grid-area: tituloGaleria;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3%;
}

main .serviciosGaleria div {
  margin: 0% 5% 0% 12%;
  width: 100%;
  grid-area: imagenesGaleria;
  display: grid;
  grid-template-areas: "imagenesGaleria imagenesGaleria imagenesGaleria" "imagenesGaleria imagenesGaleria imagenesGaleria";
  justify-items: space-evenly;
}

main .serviciosGaleria div img {
  grid-area: imagenesGaleria;
  width: 80%;
  margin-bottom: 20%;
}

main .todasHabitaciones {
  display: flex;
  flex-direction: column;
}

main .todasHabitaciones .habitaciones {
  margin: -20% 10% 0% 10%;
  padding: 6% 0% 0% 10%;
  display: grid;
  grid-template-areas: "img habitacionTexto";
  background-color: white;
}

main .todasHabitaciones .habitaciones img {
  width: 55%;
  margin-right: 10%;
  grid-area: img;
}

main .todasHabitaciones .habitaciones .habitacionTexto {
  z-index: 1;
  grid-area: habitacionTexto;
  background-color: white;
  margin-left: -70%;
}

main .todasHabitaciones .habitaciones .habitacionTexto h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
}

main .todasHabitaciones .habitaciones .habitacionTexto p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 5%;
}

main .todasHabitaciones .habitaciones .habitacionTexto div {
  display: flex;
  flex-direction: row;
}

main .todasHabitaciones .habitaciones .habitacionTexto div div {
  margin-right: 10%;
  display: flex;
  align-items: baseline;
  margin-bottom: 5%;
}

main .todasHabitaciones .habitaciones .habitacionTexto div div p {
  font-family: "Quicksand", sans-serif;
}

main .todasHabitaciones .habitaciones .habitacionTexto .btn {
  font-family: "Quicksand", sans-serif;
  background-color: #B9D7EA;
  border: none;
  color: white;
  font-size: 1.2rem;
}

main .todasHabitaciones .habitaciones .habitacionTexto .btn:hover {
  background-color: #769FCD;
}

main .todasHabitaciones .habitaciones2 {
  margin: 5% 10% 0% 10%;
  padding: 0% 0% 0% 10%;
  display: grid;
  grid-template-areas: "img habitacionTexto";
}

main .todasHabitaciones .habitaciones2 img {
  width: 45%;
  margin-right: 10%;
  grid-area: img;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto {
  z-index: 1;
  grid-area: habitacionTexto;
  background-color: white;
  margin-left: -195%;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 5%;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto div {
  display: flex;
  flex-direction: row;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto div div {
  margin-right: 10%;
  display: flex;
  align-items: baseline;
  margin-bottom: 5%;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto div div p {
  font-family: "Quicksand", sans-serif;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto .btn {
  font-family: "Quicksand", sans-serif;
  background-color: #B9D7EA;
  border: none;
  color: white;
  font-size: 1.2rem;
}

main .todasHabitaciones .habitaciones2 .habitacionTexto .btn:hover {
  background-color: #769FCD;
}

main .todasHabitaciones .boton {
  display: flex;
  justify-content: center;
  margin: 3% 0% 3% 0%;
}

main .todasHabitaciones .boton .btn {
  font-family: "Quicksand", sans-serif;
  background-color: #B9D7EA;
  border: none;
  color: white;
  font-size: 1.7rem;
}

main .todasHabitaciones .boton .btn:hover {
  background-color: #769FCD;
}

main .todasHabitaciones #operacionExitosa h2 {
  margin: 0% 0% 0% 13%;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  color: green;
}

main .padreProductos {
  padding-top: 15%;
  margin: 0% 0% 10% 12%;
  display: grid;
  flex-wrap: wrap;
  grid-template-areas: "imagenProducto" "detalleProducto";
  grid-template-columns: 0.7fr;
  justify-content: center;
}

main .padreProductos .imagenProducto {
  grid-area: imagenProducto;
}

main .padreProductos .imagenProducto .carousel-control-next {
  display: flex;
  justify-content: center;
}

main .padreProductos .carouselProductos {
  display: flex;
  justify-content: center;
  margin: 0% 1% 8% 0%;
  width: 100%;
}

@media (min-width: 992px) {
  main .padreProductos .carouselProductos {
    margin-top: 12%;
  }
}

@media (min-width: 1200px) {
  main .padreProductos .carouselProductos {
    margin-top: 0%;
  }
}

main .padreProductos .detalleProducto {
  grid-area: detalleProducto;
  justify-content: center;
  color: black;
  font-family: "Quicksand", sans-serif;
  margin-left: -10%;
}

main .padreProductos .detalleProducto h2 {
  font-weight: 10%;
  font-size: 1.2rem;
  font-style: normal;
  margin-bottom: 10%;
}

@media (min-width: 576px) {
  main .padreProductos .detalleProducto h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  main .padreProductos .detalleProducto h2 {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  main .padreProductos .detalleProducto h2 {
    font-size: 2rem;
  }
}

main .padreProductos .detalleProducto .detalleProducto1 {
  margin-bottom: 6%;
}

main .padreProductos .detalleProducto .precio {
  font-size: 1.2rem;
  margin-bottom: 10%;
}

@media (min-width: 576px) {
  main .padreProductos .detalleProducto .precio {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  main .padreProductos .detalleProducto .precio {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  main .padreProductos .detalleProducto .precio {
    font-size: 2rem;
  }
}

main .padreProductos .detalleProducto p {
  font-size: 0.8rem;
  margin-bottom: 10%;
}

@media (min-width: 576px) {
  main .padreProductos .detalleProducto p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  main .padreProductos .detalleProducto p {
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) {
  main .padreProductos .detalleProducto p {
    font-size: 1.3rem;
  }
}

main .padreProductos .detalleProducto .btn {
  font-family: "Quicksand", sans-serif;
  background-color: #B9D7EA;
  border: none;
  color: white;
  font-size: 1.3rem;
}

main .padreProductos .detalleProducto .btn:hover {
  background-color: #769FCD;
}

main .padreProductos .detalleProducto .btn:focus {
  box-shadow: none;
}

@media (min-width: 576px) {
  main .padreProductos .detalleProducto {
    margin-left: -5%;
  }
}

@media (min-width: 992px) {
  main .padreProductos .detalleProducto {
    margin: 17% 0% 0% -10%;
  }
}

@media (min-width: 1200px) {
  main .padreProductos .detalleProducto {
    margin: 0% 0% 0% -25%;
  }
}

@media (min-width: 576px) {
  main .padreProductos {
    margin: 0% 0% 10% 15%;
  }
}

@media (min-width: 768px) {
  main .padreProductos {
    margin: 0% 0% 5% 15%;
  }
}

@media (min-width: 992px) {
  main .padreProductos {
    margin: 0% 0% 3% 0%;
    display: grid;
    flex-wrap: wrap;
    grid-template-areas: "imagenProducto detalleProducto" "imagenProducto detalleProducto";
    grid-template-columns: 0.7fr;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  main .padreProductos {
    margin: 0% 0% 1% 0%;
  }
}

/* estilos main contacto */
.preguntas_contacto {
  margin: 0% 0% 3% 1%;
  padding-top: 12%;
  width: 100%;
  z-index: 1;
}

.preguntas_contacto .contactoGrupo {
  margin: 0% 7% 3% 7%;
}

.preguntas_contacto .contactoGrupo .contacto {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  text-align: left;
}

@media (min-width: 992px) {
  .preguntas_contacto .contactoGrupo .contacto {
    font-size: 1.5rem;
  }
}

.preguntas_contacto .contactoGrupo form {
  font-family: "Quicksand", sans-serif;
  margin-top: 2%;
  font-size: 0.8rem;
}

.preguntas_contacto .contactoGrupo form select {
  font-size: 0.8rem;
}

.preguntas_contacto .contactoGrupo form select:focus {
  border-color: #B9D7EA;
  box-shadow: none;
}

@media (min-width: 992px) {
  .preguntas_contacto .contactoGrupo form select {
    font-size: 1rem;
  }
}

.preguntas_contacto .contactoGrupo form .btn {
  background-color: #B9D7EA;
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .preguntas_contacto .contactoGrupo form .btn {
    font-size: 1rem;
  }
}

.preguntas_contacto .contactoGrupo form .btn-primary {
  border: none;
}

.preguntas_contacto .contactoGrupo form .form-control:focus {
  border-color: #B9D7EA;
  box-shadow: none;
}

.preguntas_contacto .contactoGrupo form .form-check-input:focus {
  box-shadow: none;
  border-color: #B9D7EA;
}

.preguntas_contacto .contactoGrupo form .form-check-input:checked {
  background-color: #B9D7EA;
  border-color: #B9D7EA;
  box-shadow: none;
}

@media (min-width: 992px) {
  .preguntas_contacto .contactoGrupo form {
    font-size: 1rem;
  }
  .preguntas_contacto .contactoGrupo form .form-check {
    margin: 2% 0% 2% 0%;
  }
}

@media (min-width: 1200px) {
  .preguntas_contacto .contactoGrupo {
    margin-bottom: 2%;
  }
}

@media (min-width: 576px) {
  .preguntas_contacto {
    margin: 0% 0% 3% 1%;
  }
}

@media (min-width: 768px) {
  .preguntas_contacto {
    margin: 0% 0% 3% 1%;
  }
}

@media (min-width: 992px) {
  .preguntas_contacto {
    margin: 0% 0% 3% 1%;
  }
}

@media (min-width: 1200px) {
  .preguntas_contacto {
    margin: 0% 0% 3% 1%;
  }
}

footer {
  background-color: #B9D7EA;
  padding: 3%;
}

footer .footer {
  display: grid;
  grid-template-areas: "contactanos redesSociales mediosDePago";
  justify-content: space-around;
}

footer .footer .contactanos {
  grid-area: contactanos;
}

footer .footer .redesSociales {
  grid-area: redesSociales;
}

footer .footer .mediosDePago {
  grid-area: mediosDePago;
}

footer .footer .mediosDePago i {
  margin: 0% 5% 0% 5%;
}

footer .footer .mediosDePago i:hover {
  color: #769FCD;
}

footer .footer .distribucionFooter h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10%;
  color: white;
}

footer .footer .distribucionFooter div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

footer .footer .distribucionFooter div i {
  color: white;
}

footer .footer .distribucionFooter div i:hover {
  color: #769FCD;
}

footer .footer .distribucionFooter div p {
  font-family: "Quicksand", sans-serif;
  margin-left: 10%;
  color: white;
}
