// llamado a las tipografías
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* tipografías
font-family: 'Quicksand', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Lora', serif;
*/

/* paleta de colores
#F7FBFC
#D6E6F2
#B9D7EA
#769FCD */