// HEADER
$letrasHeader: white;
$letrasHeaderHover: #B9D7EA;
$colorLetrasCarrousel: white;

// MAIN INDEX
$colorLetrasCarrousel: white;

$tipografiaUnLugarUnico: 'Lora', serif;

$fondoQueNosDiferencia1: white;
$fondoQueNosDiferencia2: #B9D7EA;
$fondoQueNosDiferencia3: #769FCD;

// MAIN SERVICIOS
$letrasServiciosFoto: white;
$iconosHover: #B9D7EA;

// FOOTER
$colorFondoFooter: #B9D7EA;
$colorLetrasFooter: white;

// GENERAL
$colorBotones: #B9D7EA;
$colorBotonesHover: #769FCD;

$tipografiaTitulos:'Poppins', sans-serif;
$tipografiaTextos: 'Quicksand', sans-serif;

// COLORES
$color1: #F7FBFC;
$color2: #D6E6F2;
$color3: #B9D7EA;
$color4: #769FCD;

