main {
    .padreProductos {
        padding-top: 15%;
        margin: 0% 0% 10% 12%;
        display: grid;
        flex-wrap: wrap;
        grid-template-areas: 
        "imagenProducto"
        "detalleProducto";
        grid-template-columns: 0.7fr;
        justify-content: center;

        .imagenProducto {
            grid-area: imagenProducto;

            .carousel-control-next {
                display: flex;
                justify-content: center;
            }
        }

        .carouselProductos {
            display: flex;
            justify-content: center;
            margin: 0% 1% 8% 0%;
            width: 100%;

            @include pantallaGrande {
                margin-top: 12%;
            }

            @include pantallaPanoramica {
                margin-top: 0%;
            }
        }

        .detalleProducto {
            grid-area: detalleProducto;
            justify-content: center;
            color: black;
            font-family: $tipografiaTextos;
            margin-left: -10%;

            h2 {
                font-weight: 10%;
                font-size: 1.2rem;
                font-style: normal;
                margin-bottom: 10%;

                @include celularHorizontal {
                    font-size: 1.5rem;
                }

                @include pantallaGrande {
                    font-size: 1rem;
                }

                @include pantallaPanoramica {
                    font-size: 2rem;
                }
            }

            .detalleProducto1 {
                margin-bottom: 6%;
            }

            .precio {
                font-size: 1.2rem;
                margin-bottom: 10%;

                @include celularHorizontal {
                    font-size: 1.5rem;
                }

                @include pantallaGrande {
                    font-size: 1rem;
                }

                @include pantallaPanoramica {
                    font-size: 2rem;
                }
            }

            p {
                font-size: 0.8rem;
                margin-bottom: 10%;

                @include celularHorizontal {
                    font-size: 1rem;
                }

                @include pantallaGrande {
                    font-size: 0.7rem;
                }

                @include pantallaPanoramica {
                    font-size: 1.3rem;
                }
            }

            .btn {
                @include botones;
                font-size: 1.3rem;

                &:hover {
                    background-color: $colorBotonesHover;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            @include celularHorizontal {
                margin-left: -5%;
            }

            @include pantallaGrande {
                margin: 17% 0% 0% -10%;
            }

            @include pantallaPanoramica {
                margin: 0% 0% 0% -25%;
            }
        }

        @include celularHorizontal {
            margin: 0% 0% 10% 15%;
        }

        @include pantallaMediana {
            margin: 0% 0% 5% 15%;
        }

        @include pantallaGrande {
            margin: 0% 0% 3% 0%;
            display: grid;
            flex-wrap: wrap;
            grid-template-areas: 
            "imagenProducto detalleProducto"
            "imagenProducto detalleProducto";
            grid-template-columns: 0.7fr;
            justify-content: center;
        }

        @include pantallaPanoramica {
            margin: 0% 0% 1% 0%;
        }
    }
}