// HEADER 
header {
    width: 100%;
    background-image: url("../images/fondo.png");
    z-index: 2;

    picture {
        img {
            width: 25%;
            margin-left: 2%;

            @include celularHorizontal {
                width: 13%;
            }

            @include pantallaGrande {
                width: 25%;
            }

            @include pantallaPanoramica {
                width: 13%;
            }
        }
    }

    .telefonoYNavbar {
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: baseline;

        .telefonosHeader {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 3%;
    
            div {
                width: 100%;
                margin: 1% 4% 0.5% 4%;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                color: $letrasHeader;
                font-family: $tipografiaTextos;

                p {
                    display: inline-block;
                    margin-left: 10%;
                }

                @include pantallaGrande {
                    display: flex;
                    justify-content: right;
                    margin: 1% 4% 0.5% -60%;
                }
            }
        }

        .navbar-light {
            .navbar-nav {
                .nav-link {
                    color: $letrasHeader;
                    font-family: $tipografiaTextos;
                    font-weight: 600;

                    &:hover {
                        color: $letrasHeaderHover;
                    }

                    &:focus {
                        color: $letrasHeaderHover;
                    }
                }
            }
        }

        @include pantallaGrande {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    @include pantallaGrande {
        display: flex;
        flex-direction: row;
        position: fixed;
    }
}