// MAIN HABITACIONES
main {
    .imagenHabitaciones {
        img {
            width: 100%;
        }
    }
    .todasHabitaciones {
        display: flex;
        flex-direction: column;

        .habitaciones {
            margin: -20% 10% 0% 10%;
            padding: 6% 0% 0% 10%;
            display: grid;
            grid-template-areas: 
            "img"
            "habitacionTexto";
            background-color: white;

            img {
                width: 85%;
                margin-right: 10%;
                grid-area: img;

                @include pantallaPanoramica {
                    width: 55%;
                }
            }

            .habitacionTexto {
                margin: 10% 0% 0% -10%;
                z-index: 1;
                grid-area: habitacionTexto;
                background-color: white;

                h2 {
                    font-family: $tipografiaTitulos;
                    margin-bottom: 5%;
                }

                p {
                    font-family: $tipografiaTextos;
                    margin-bottom: 5%;
                }

                div {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 10%;
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 5%;

                        p {
                            font-family: $tipografiaTextos;
                        }
                    }
                }

                .btn {    
                    @include botones;
                    font-size: 1.2rem;
    
                    &:hover {
                        background-color: $colorBotonesHover;
                    }
                }

                @include celularHorizontal {
                    margin: 5% 0% 0% 0%;
                }

                @include pantallaPanoramica {
                    margin: 13% 0% 0% -70%;
                }
            }

            @include pantallaPanoramica {
                margin: -20% 10% 0% 10%;
                padding: 6% 0% 0% 10%;
                display: grid;
                grid-template-areas: 
                "img habitacionTexto";
                background-color: white;
            }
        }

        .habitaciones2 {
            margin: 5% 10% 0% 10%;
            padding: 0% 0% 0% 10%;
            display: grid;
            grid-template-areas: 
            "img"
            "habitacionTexto";

            img {
                width: 85%;
                margin-right: 10%;
                grid-area: img;

                @include pantallaPanoramica {
                    width: 45.5%;
                }
            }

            .habitacionTexto {
                margin: 10% 0% 0% -10%;
                z-index: 1;
                grid-area: habitacionTexto;
                background-color: white;

                h2 {
                    font-family: $tipografiaTitulos;
                    margin-bottom: 5%;
                }

                p {
                    font-family: $tipografiaTextos;
                    margin-bottom: 5%;
                }

                div {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 10%;
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 5%;

                        p {
                            font-family: $tipografiaTextos;
                        }
                    }
                }

                .btn {    
                    @include botones;
                    font-size: 1.2rem;

                    &:hover {
                        background-color: $colorBotonesHover;
                    }
                }

                @include celularHorizontal {
                    margin: 10% 0% 0% -113%;
                }
            }

            @include pantallaPanoramica {
                margin: 3% 0% 0% 10%;;
                display: grid;
                grid-template-areas: 
                "img habitacionTexto";
                background-color: white;
            }
        }

        .habitaciones3 {
            margin: 5% 10% 0% 10%;
            padding: 0% 0% 0% 10%;
            display: grid;
            grid-template-areas: 
            "img"
            "habitacionTexto";

            img {
                width: 85%;
                margin-right: 10%;
                grid-area: img;

                @include pantallaPanoramica {
                    width: 47%;
                }
            }

            .habitacionTexto {
                margin: 10% 0% 0% -10%;
                z-index: 1;
                grid-area: habitacionTexto;
                background-color: white;

                h2 {
                    font-family: $tipografiaTitulos;
                    margin-bottom: 5%;
                }

                p {
                    font-family: $tipografiaTextos;
                    margin-bottom: 5%;
                }

                div {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 10%;
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 5%;

                        p {
                            font-family: $tipografiaTextos;
                        }
                    }
                }

                .btn {    
                    @include botones;
                    font-size: 1.2rem;

                    &:hover {
                        background-color: $colorBotonesHover;
                    }
                }

                @include celularHorizontal {
                    margin: 10% 0% 0% -97%;
                }
            }

            @include pantallaPanoramica {
                margin: 3% 0% 0% 10%;;
                display: grid;
                grid-template-areas: 
                "img habitacionTexto";
                background-color: white;
            }
        }

        .habitaciones4 {
            margin: 5% 10% 0% 10%;
            padding: 0% 0% 0% 10%;
            display: grid;
            grid-template-areas: 
            "img"
            "habitacionTexto";

            img {
                width: 85%;
                margin-right: 10%;
                grid-area: img;

                @include pantallaPanoramica {
                    width: 39%;;
                }
            }

            .habitacionTexto {
                margin: 10% 0% 0% -10%;
                z-index: 1;
                grid-area: habitacionTexto;
                background-color: white;

                h2 {
                    font-family: $tipografiaTitulos;
                    margin-bottom: 5%;
                }

                p {
                    font-family: $tipografiaTextos;
                    margin-bottom: 5%;
                }

                div {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 10%;
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 5%;

                        p {
                            font-family: $tipografiaTextos;
                        }
                    }
                }

                .btn {    
                    @include botones;
                    font-size: 1.2rem;

                    &:hover {
                        background-color: $colorBotonesHover;
                    }
                }

                @include celularHorizontal {
                    margin: 13% 0% 0% -270%;
                }
            }

            @include pantallaPanoramica {
                margin: 3% 0% 0% 10%;;
                display: grid;
                grid-template-areas: 
                "img habitacionTexto";
                background-color: white;
            }
        }
    }

    .serviciosAdicionales {
        margin: 5% 3% 3% 3%;

        h2 {
            font-family: $tipografiaTitulos;
            display: flex;
            justify-content: center;
            grid-area: serviciosAdicionales;
            font-size: 2rem;
        }

        h3 {
            margin-top: 1%;
            font-family: $tipografiaTextos;
            display: flex;
            justify-content: center;
            font-size: 1rem;
            text-align: center;

            @include pantallaGrande {
                text-align: none;
            }
        }

        .cardsServicios {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .card {
                margin: 3%;
                grid-area: card;
                display: flex;
                align-items: flex-start;

                .card-body { 
                    margin-left: -5%;                   
                    h5 {
                        font-family: $tipografiaTextos;
                        font-weight: bolder;
                        margin-bottom: 5%;
                    }

                    h6 {
                        font-family: $tipografiaTextos;
                        font-weight: bolder;
                        font-size: 1.1rem;
                        margin-bottom: 5%;
                    }

                    p {
                        font-family: $tipografiaTextos;
                    }

                    .btn {    
                        @include botones;
                        font-size: 1rem;
        
                        &:hover {
                            background-color: $colorBotonesHover;
                        }
                    }
                }
            }
        }
    }

    .formDatos {
        display: grid;
        justify-content: space-evenly;
        margin: 0% 9% 0% 9%;

        .formularioHuesped {

            .datosPersonales {
                font-family: $tipografiaTitulos;
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 2%;
            }

            div {
                font-family: $tipografiaTextos;
            }

            .calendario {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 1%;
                }
            }

            .botones {
                display: flex;
                flex-direction: row;
                margin: 9% 0% 0% 0%;

                #botonFinalizar, #botonVerCarrito {
                    display: flex;
                    justify-content: center;
                    margin-right: 3%;

                    .btn {    
                        @include botones;
                        font-size: 1.3rem;
            
                        &:hover {
                            background-color: $colorBotonesHover;
                        }
                    }
                }

                @include pantallaGrande {
                    margin-top: 2%;
                }
            }

            #reviseDatos {
                h2 {
                    font-family: $tipografiaTextos;
                    font-weight: lighter;
                    color: red;
                    font-size: 1rem;
                    margin-bottom: 2%;
                }
            }
        }
    }
}

// MODAL
.modal {
    .modal-content {
        .modal-body {
            padding: 0%;
    
            @include pantallaGrande {
                padding: var(--bs-modal-padding);
            }
        }

        h5 {
            font-family: $tipografiaTitulos;
        }
        .table {
            display: grid;
            grid-template-columns: 1fr;
    
            tr {
                font-family: $tipografiaTextos;
        
                .total {
                    @include pantallaGrande {
                        width: 750%;
                    }
                }

                img {
                    display: none;

                    @include celularHorizontal {
                        display: block;
                    }
                }
            }
        }

        @include pantallaGrande {
            width: 110%;
        }
    }
}

    .btn {
        @include botones;

        &:hover {
            background-color: $colorBotonesHover;
        }
    }

// SWAL 
.swal-button:not([disabled]):hover {
    background-color: $color3;
}
.swal-icon--success__ring {
    border-color: $color3;
}
.swal-icon--success__line {
    background-color: $color4;
}
.swal-title {
    font-family: $tipografiaTextos;
}
.swal-text {
    @extend .swal-title;
}
.swal-button {
    @include botones;

        &:hover {
            background-color: $colorBotonesHover;
        }
}