// MAIN HABITACIONES
main {
    .todasHabitaciones {
        display: flex;
        flex-direction: column;

        .habitaciones {
            margin: -20% 10% 0% 10%;
            padding: 6% 0% 0% 10%;
            display: grid;
            grid-template-areas: 
            "img habitacionTexto";
            background-color: white;

            img {
                width: 55%;
                margin-right: 10%;
                grid-area: img;
            }

            .habitacionTexto {
                z-index: 1;
                grid-area: habitacionTexto;
                background-color: white;
                margin-left: -70%;

                h2 {
                    font-family: $tipografiaTitulos;
                    margin-bottom: 5%;
                }

                p {
                    font-family: $tipografiaTextos;
                    margin-bottom: 5%;
                }

                div {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 10%;
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 5%;

                        p {
                            font-family: $tipografiaTextos;
                        }
                    }
                }

                .btn {    
                    @include botones;
                    font-size: 1.2rem;
    
                    &:hover {
                        background-color: $colorBotonesHover;
                    }
                }
            }
        }

        .habitaciones2 {
            margin: 5% 10% 0% 10%;
            padding: 0% 0% 0% 10%;
            display: grid;
            grid-template-areas: 
            "img habitacionTexto";

            img {
                width: 45%;
                margin-right: 10%;
                grid-area: img;
            }

            .habitacionTexto {
                z-index: 1;
                grid-area: habitacionTexto;
                background-color: white;
                margin-left: -195%;

                h2 {
                    font-family: $tipografiaTitulos;
                    margin-bottom: 5%;
                }

                p {
                    font-family: $tipografiaTextos;
                    margin-bottom: 5%;
                }

                div {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 10%;
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 5%;

                        p {
                            font-family: $tipografiaTextos;
                        }
                    }
                }

                .btn {    
                    @include botones;
                    font-size: 1.2rem;

                    &:hover {
                        background-color: $colorBotonesHover;
                    }
                }
            }
        }
        

        .boton {
            display: flex;
            justify-content: center;
            margin: 3% 0% 3% 0%;

            .btn {    
                @include botones;
                font-size: 1.6rem;

                &:hover {
                    background-color: $colorBotonesHover;
                }
            }
        }

        #operacionExitosa {
            h2 {
                margin: 0% 0% 0% 13%;
                font-family: $tipografiaTextos;
                font-size: 1.3rem;
                color: green;
            }
        }
    }

    .serviciosAdicionales {
        margin: 0% 3% 3% 3%;

        h2 {
            font-family: $tipografiaTitulos;
            display: flex;
            justify-content: center;
            grid-area: serviciosAdicionales;
        }

        .cardsServicios {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .card {
                margin: 3%;
                grid-area: card;
                display: flex;
                align-items: flex-start;

                .card-body { 
                    margin-left: -5%;                   
                    h5 {
                        font-family: $tipografiaTextos;
                        font-weight: bolder;
                        margin-bottom: 5%;
                    }

                    h6 {
                        font-family: $tipografiaTextos;
                        font-weight: bolder;
                        font-size: 1.1rem;
                        margin-bottom: 5%;
                    }

                    p {
                        font-family: $tipografiaTextos;
                    }

                    .btn {    
                        @include botones;
                        font-size: 1rem;
        
                        &:hover {
                            background-color: $colorBotonesHover;
                        }
                    }
                }
            }
        }
    }

    #botonVerCarrito {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;

        .btn {    
            @include botones;
            font-size: 1.6rem;

            &:hover {
                background-color: $colorBotonesHover;
            }
        }
    }
}

// MODAL
.modal {
    h5 {
        font-family: $tipografiaTitulos;
    }
    tr {
        font-family: $tipografiaTextos;

        .total {
            width: 750%;
        }
    }

    .btn {
        @include botones;

        &:hover {
            background-color: $colorBotonesHover;
        }
    }

    .modal-content {
        width: 110%;
    }
}

// SWAL 
.swal-button:not([disabled]):hover {
    background-color: $color3;
}
.swal-icon--success__ring {
    border-color: $color3;
}
.swal-icon--success__line {
    background-color: $color4;
}
.swal-title {
    font-family: $tipografiaTextos;
}
.swal-text {
    @extend .swal-title;
}
.swal-button {
    @include botones;

        &:hover {
            background-color: $colorBotonesHover;
        }
}