// MAIN NOSOTROS
main {
    .nosotros1 {
        img {
            width: 100%;
        }
    }

    .nosotros {
        margin: 3%;
        display: grid;
        grid-template-areas: 
        "textoNosotros"
        "imagenNosotros";

        img {
            width: 100%;
            grid-area: imagenNosotros;
        }

        .textoNosotros {
            margin: 5%;
            width: auto;
            grid-area: textoNosotros;

            h2 {
                font-family: $tipografiaTitulos;
                font-size: 2.5rem;
                margin-bottom: 7%;
            }

            p {
                font-family: $tipografiaTextos;
                text-align: justify;
                margin-bottom: 3%;
                font-size: 1.3rem;
            }

            .btn {
                margin-top: 3%;
                @include botones;
                font-size: 1.3rem;

                &:hover {
                    background-color: $colorBotonesHover;
                }
            }

            @include pantallaGrande {
                margin-left: 10%;
                width: 90%;
            }
        }

        @include pantallaGrande {
            margin: 3% 3% 3% 0%;
            display: grid;
            grid-template-areas: 
            "imagenNosotros textoNosotros";
            align-items: center;
        }
    }
}