// MAIN INDEX 
main {
    z-index: 1;

    .carousel-caption {
        margin-bottom: 10%;
        h5 {
            font-family: $tipografiaTitulos;
            text-align: left;
            font-size: 3rem;
            color: $colorLetrasCarrousel;

            &:hover {
                color: $colorBotonesHover;
            }
        }
    
        p {
            font-family: $tipografiaTextos;
            text-align: left;
            font-size: 1.5rem;
            color: $colorLetrasCarrousel;
        }
    }

    .unLugarUnico {
        margin: 5% 15% 5% 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 12%;

            h2 {
                font-family: $tipografiaUnLugarUnico;
                font-size: 3rem;
                text-align: center;
                margin-bottom: 7%;
            }

            p {
                font-family: $tipografiaTextos;
                font-size: 1.3rem;
                text-align: justify;
                margin-bottom: 7%;
            }

            .btn {
                @include botones;
                font-size: 1.3rem;

                &:hover {
                    background-color: $colorBotonesHover;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        picture {
            img {
                width: 110%;
                margin-left: 12%;
            }
        }
    }

    .queNosDiferencia {
        display: grid;
        grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6";
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;

        .item1 {
            grid-area: item1;
        }
        .item2 {
            grid-area: item2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: $fondoQueNosDiferencia3;
            width: 100%;
            height: 100%;
            padding: 10%;

            h2{
                font-family: $tipografiaTitulos;
                font-weight: 800;
                margin-bottom: 7%;
            }

            img {
                width: 35%;
                margin: 0% 0% 3% 5%;
                display: flex;
            }
        }
        .item3 {
            grid-area: item3;
        }
        .item4 {
            grid-area: item4;
        }
        .item5 {
            grid-area: item5;
        }
        .item6 {
            grid-area: item6;
        }

        .items {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15%;
            width: 100%;
            height: 100%;

            div {
                margin-left: 10%;
                h3 {
                    font-family: $tipografiaTitulos;
                }
                p {
                    font-family: $tipografiaTextos;
                    font-size: 1.2rem;
                }
            }

        }

        .item1, .item3, .item5 {
            background-color: $fondoQueNosDiferencia1;

            i {
                color: $fondoQueNosDiferencia2;
            }
        }

        .item4, .item6 {
            background-color: $fondoQueNosDiferencia2;

            i {
                color: $fondoQueNosDiferencia1;
            }
        }
    }

    .newsletter {
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: $tipografiaTitulos;
            margin-bottom: 3%;
            font-weight: 800;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            form {
                margin-bottom: 3%;
                display: flex;
                align-items: flex-end;
    
                div {
                    label {
                        font-family: $tipografiaTextos;
                    }
    
                    input {
                        &:focus {
                            box-shadow: none;
                            border-color: $colorBotones;
                        }
                    }
                }
    
                .btn {
                    @include botones;
                    width: auto;
                    padding: 1% 5% 1% 5%;
    
                    &:hover {
                        background-color: c;
                    }
    
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
    
            p {
                font-family: $tipografiaTextos;
            }
        }
    }
}